@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url(/css/cabinet-grotesk.css);

@font-face {
  font-family: "Tetra", sans-serif;
  src: url(/fonts/Tetra.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  background-color: #eceaea;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.container {
  max-width: 80rem;
  margin: auto;
}

header {
  height: 10vh;
  overflow: hidden;
}

h2 {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.logo {
  font-family: "Tetra", sans-serif;
  letter-spacing: 0.156rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  &.sticky {
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
    z-index: 999;
    width: 100%;
    height: 10vh;
  }
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav--link {
  margin-left: 4.5rem;
  font-size: 0.875rem;
}

.nav--link:link,
.nav--link:visited {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 300;
}
/* ACTIVE STATE */
.nav--link:hover,
.nav--link:active {
  font-weight: 600;
}

.singin-up a:link,
.singin-up a:visited {
  margin-left: 1rem;
  text-decoration: underline;
  padding: 1rem 1.5rem;
  color: #1c1c1c;
  font-weight: 500;
}

.singin-up a:hover,
.singin-up a:active {
  text-decoration: none;
  background-color: #1c1c1c;
  color: #fff;
}

#hero {
  margin-top: 5rem;
}
#service,
#about-us,
#properties,
#how-it-works,
#testimonial {
  margin-top: 10rem;
  overflow: hidden;
}

#partners {
  margin-top: 5rem;
}

.main-header {
  font-family: "CabinetGrotesk-Regular", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
}
.main-subheader {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  line-height: 2;
  flex-direction: column;
}
