@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D9D9D9;
}
.nav{
    min-height: 100px;
}


.nav span{
    position: absolute;
    left: 5em;
    top: 1.2em;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
}
.nav-list ul{
    display: flex;
    position: absolute;
    top: 2.5em;
    left: 40em;
    gap: 1em;
    font-size: 14px;
    font-weight: 300;
}
.nav-list li, a{
    width: 150px;
    list-style: none;
    text-decoration: none;
    color: #001523;
    font-family: 'Work Sans', sans-serif;
}

.nav-list a:hover{
    color: #1C1C1C;
    font-weight: 600;
}
.singin-up ol{
    position: absolute;
    display: flex;
    gap: 0em;
    top: 2.1em;
    left: 90em;
}

.singin-up li{
    width: 150px;
    padding: 0 2em;
    list-style: none;
    font-size: 14px;
}

.singin-up a{
    font-weight: 700;   
    color: #1C1C1C;
    text-decoration: underline;
}

.singin-up ol li:hover{
    width: 100px;
    text-align: center;
    height: 50px;
    padding: 0.5em 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}
.singin-up a:hover{
    text-decoration: none;
    color: #fff;
}

.rectangle-3 img{
    position: absolute;
    top: 10em;
    left: 80em;
    height: 766px;
}

.rectangle-3 h1{
    position: absolute;
    font-weight: 200;
    top: 3.5em;
    left: 3em;
    color: #1C1C1C;
    font-size: 5em;
    font-family: 'Cabin Condensed', sans-serif;
}
.rectangle-3 span{
    position: absolute;
    top: 1.5em;
    left: 1em;
    font-variant-caps: all-petite-caps;
    font-size: 14em;
    text-align: center;
    color: #1C1C1C;
    font-weight: 700;
    font-family: 'Cabin Condensed', sans-serif;
}

.rectangle-3 p{
    position: absolute;
    top: 25em;
    left: 10em;
    color: #5C5C5C;
    width: 650px;
    font-size: 1.5em;
}

.content-box{
    position: absolute;
    top: 45em;
    left: 25em;
    width: 1000px;
    background-color: #fff;
    /* border: 2px solid red; */
    height: 100px;
}


.content-box dl:nth-child(1){
    position: absolute;
    top: 0;
    left: 2em;
    padding: 1em 0;
}

dl:nth-child(1) dt{
    font-size: 14px;
    color: #5C5C5C;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
dl:nth-child(1) dd{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}



.content-box dl:nth-child(2){
    position: absolute;
    top: 0;
    left: 17em;
    padding: 1em 0;
}

dl:nth-child(2) dt{
    font-size: 14px;
    color: #5C5C5C;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
dl:nth-child(2) dd{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}




.content-box dl:nth-child(3){
    position: absolute;
    top: 0;
    left: 30em;
    padding: 1em 0;
}
dl:nth-child(3) dt{
    font-size: 14px;
    color: #5C5C5C;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
dl:nth-child(3) dd{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}


.content-box dl:nth-child(4){
    position: absolute;
    top: 0;
    left: 45em;
    padding: 1em 0;
}
dl:nth-child(4) dt{
    font-size: 14px;
    color: #5C5C5C;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}
dl:nth-child(4) dd{
    font-size: 20px;
    color: #1C1C1C;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}

.search{
    position: absolute;
    top: 1em;
    left: 55em;
    width: 70px;
    height: 70px;
    background-color: #000;
}
.search i{
    position: absolute;
    top: 0em;
    left: 0em;
    padding: 1em;
    font-size: 1.5em;
    color: #fff;
} 

