.partners{
    position: absolute;
    top: 468em;
}

.partners h3{
    position: absolute;
    left: 5em;
    text-transform: uppercase;
    font-size: 62px;
    color: #1C1C1C;
    font-family: 'Cabin Condensed', sans-serif;
}

.partners p{
    position: absolute;
    width: 500px;
    top: 5em;
    left: 19em;
    text-align: start;
    line-height: 2em;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    color: #5C5C5C;
}

.partners h2{
    position: absolute;
    width: 300px;
    top: 19em;
    left: 14em;
    text-transform: uppercase;
    font-size: 22px;
    color: #1C1C1C;
    font-family: 'Cabin Condensed', sans-serif;
}

.partners span{
    position: absolute;
    width: 200px;
    top: 28em;
    left: 19em;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    color: #5C5C5C;
}

.partner-1{
    position: absolute;
    width: 350px;
    height: 618px;
    left: 55em;
    background-image: url(/img/Rectangle.png);
    background-color: #1C1C1C;
    background-blend-mode: luminosity;
}

.partner-2{
    position: absolute;
    left: 78em;
    background-image: url(/img/Rectangle351.png);
    background-color: #1C1C1C;
    background-blend-mode: luminosity;

}

.partner-2 img{
    width: 350px;
    height: 618px;
}

.partners ul{
    position: absolute;
    display: flex;
    gap: 2em;
    top: 30em;
    left: 19em;
}

.partners li{
    width: 150px;
    height: 70px;
    border: 2px solid #1C1C1C;
    list-style: none;
    text-align: center;
    padding: 1.5em 0em;
    color: #1C1C1C;
    font-family: 'Work Sans', sans-serif;
}

.partners li:hover{
    background-color: #1C1C1C;
    color: #fff;
}

.partner-1 p{
    position: absolute;
    top: 20em;
    left: 4em;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    font-size: 26px;
}

.partner-1 span{
    position: absolute;
    top: 35em;
    left: 9.5em;
    color: #fff;
}

.partner-2 p{
    position: absolute;
    top: 20em;
    left: 4em;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    font-size: 26px;
}

.partner-2 span{
    position: absolute;
    top: 35em;
    left: 9.5em;
    color: #fff;
}

/* newsletter */

.newsletter{
    position: absolute;
    width: 1900px;
    height: 530px;
    background-color: #1C1C1C;
    top: 519em;
}

.newsletter img{
    position: relative;
    top: -10em;
}
.newsletter h3{
    position: absolute;
    color: #fff;
    width: 375px;
    top: 2em;
    left: 20em;
    font-size: 46px;
}

.newsletter p{
    position: absolute;
    width: 580px;
    top: 15em;
    left: 58em;
    line-height: 2em;
    color: #fff;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}


.email{
    position: absolute;
    top: 10em;
}
.email p{
    width: 600px;
    height: 70px;
    padding: 1em  2em;
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0.2);;
    color: #fff;
}

.email-arrow{
    position: absolute;
    width: 90px;
    height: 69px;
    top: 25em;
    left: 90em;
    /* border: 2px solid #1C1C1C; */
    background-color: #fff;
}
.solid{
    position: absolute;
    width: 2em;
    top: 0em;
    left: 2em;
    margin-top: 11em;
}

/* end newsletter */

/* footer */

.footer{
    position: absolute;
    top: 552em;
    background-image: url(/img/Rectangle4.png);
    background-color: #1C1C1C;
    background-blend-mode: overlay;
    background-size: cover;
    width: 1900px;
    height: 497px;
    /* background-size: cover; */
}

.logo-footer{
    position: absolute;
    top: 4em;
    left: 4em;
    color: #fff;
}

.logo-footer h1{
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;

}

.logo-footer p{
    width: 380px;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}

.facebook{
    position: absolute;
    top: 18em;
    width: 25px;
    /* background-color: #fff; */
}

.instagram{
    position: absolute;
    top: 18em;
    left: 3em;
    width: 25px;
    /* background-color: #fff; */
}

.youtube{
    position: absolute;
    top: 18em;
    left: 6em;
    width: 25px;
}

.twitter{
    position: absolute;
    top: 18em;
    left: 9em;
    width: 25px;
}


.about{
    position: absolute;
    top: 1em;
    left: 35em;
}

.about h1{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
.about ul{
    position: absolute;
    top: 3em;
}
.about li{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 3em;
    width: 150px;
    list-style: none;
}

.company{
    position: absolute;
    top: 1em;
    left: 55em;
}

.company h1{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.company ul{
    position: absolute;
    top: 3em;
}

.company li{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 3em;
    width: 150px;
    list-style: none;
}

.contact-us{
    position: absolute;
    top: 1em;
    left: 75em;
}

.contact-us h1{
    width: 150px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}

.contact-us ul{
    position: absolute;
    top: 3em;
}

.contact-us li{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 3em;
    width: 350px;
    list-style: none;
}
.contact-us li:nth-child(1){
    line-height: 1.2em;
}
/* end footer */