@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Tetra", sans-serif;
  src: url(/fonts/Tetra.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 80rem;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Tetra", sans-serif;
  letter-spacing: 0.156rem;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav--link {
  margin-left: 4.5rem;
  font-size: 0.875rem;
}

.nav--link:link,
.nav--link:visited {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 300;
}
/* ACTIVE STATE */
.nav--link:hover,
.nav--link:active {
  font-weight: 600;
}

.singin-up a:link,
.singin-up a:visited {
  margin-left: 1rem;
  text-decoration: underline;
  padding: 1rem 1.5rem;
  color: #1c1c1c;
  font-weight: 500;
}

.singin-up a:hover,
.singin-up a:active {
  text-decoration: none;
  background-color: #1c1c1c;
  color: #fff;
}
