/*
*************************************************************** 
Hero Section
****************************************************************
*/
.hero-container {
  position: relative;
  justify-content: space-evenly;
}

.hero-text {
  line-height: 1.5;
  color: #5c5c5c;
  margin-top: 1.5rem;
}

.rectangle-box {
  position: absolute;
  top: 50%;
  transform: translate(0, 10rem);
  width: 58%;
  height: 100px;
  background-color: #fff;
  box-shadow: 10px 0 10px 5px rgba(0, 0, 0, 0.4);
}

.categories-property {
  margin-top: 1.5rem;
  justify-content: left;
  gap: 5rem;
  margin-left: 2rem;
  /* justify-content: space-around; */
  line-height: 1.5;
}

.categories-property span {
  color: #5c5c5c;
  font-weight: lighter;
  font-size: 0.875rem;
}

.categories-property > .search {
  width: 50px;
  height: 50px;
  background-color: #1c1c1c;
}

.categories-property p {
  color: #1c1c1c;
  font-weight: 900;
}

/*
*************************************************************** 
Service Section
****************************************************************
*/
.flex-center p {
  text-align: center;
  line-height: 1.5;
  color: #5c5c5c;
}

.services {
  flex-direction: column;
  border: 1px solid #1c1c1c;
}

.services-rended {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 3fr);
}
